body#page-question-type-vplquestion .fcontainer {
    background-color: #f8f8f8;
    border: 1px solid #bbb;
    padding: 8px 1em 0 1em;
}

body#page-question-type-vplquestion .withfiletabs {
    margin-top: -1em;
}

body#page-question-type-vplquestion textarea,
.que.vplquestion textarea {
    width: 100%;
}

body#page-question-type-vplquestion .ace_editor,
.que.vplquestion .ace_editor {
    border: 1px solid #999;
}

body#page-question-type-vplquestion .is-invalid + .ace_editor {
    border: 1px solid red;
}

body#page-question-type-vplquestion .ace-placeholder,
.que.vplquestion .ace-placeholder {
    min-height: 50px;
}

body#page-question-type-vplquestion .resize-handle,
.que.vplquestion .resize-handle {
    height: 7px;
    width: 100%;
    cursor: ns-resize;
    border-top: 3px double #bbb;
}

body#page-question-type-vplquestion .ace-placeholder + .resize-handle,
.que.vplquestion .ace-placeholder + .resize-handle {
    margin-top: 1px;
}

body#page-question-type-vplquestion label[for=id_templatevpl] {
    display: none;
}

body#page-question-type-vplquestion .filelist {
    padding-bottom: 6px;
    width: calc(100% - 40px);
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-color: #bbb transparent;
    scrollbar-width: thin;
    display: inline-block;
}

body#page-question-type-vplquestion .form-control-static {
    width: 100%;
}

body#page-question-type-vplquestion .execfilename {
    padding: 5px 1.2em;
    background-color: #d5d5d5;
    border-radius: .5rem .5rem 0 0;
    border: 1px solid transparent;
    border-bottom: none;
}

body#page-question-type-vplquestion .execfilename:not(:last-child) {
    margin-right: 2px;
}

body#page-question-type-vplquestion .execfilename.currentfile {
    border-color: #999;
}

body#page-question-type-vplquestion .execfilename:hover:not(.currentfile) {
    background-color: #bbb;
}

body#page-question-type-vplquestion .status-chip[data-status="inherit"] {
    background-color: limegreen;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

body#page-question-type-vplquestion .status-chip[data-status="overwrite"] {
    border-top: 10px solid dodgerblue;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.que.vplquestion .terminal-titlebar {
    position: absolute;
    right: 0;
    top: -28px;
    font-weight: bold;
    color: black;
}

.que.vplquestion .close-terminal {
    padding: 0 6px 2px 6px;
    margin: 0 1px 4px .3em;
}

.que.vplquestion .terminal {
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: 3px 5px;
    border: 2px solid #bbb;
}

.que.vplquestion .correctness.badge:not(.correct):not(.partiallycorrect):not(.incorrect):not(.notanswered) {
    background-color: #868e96;
}

.que.vplquestion .vpl-result-title {
    font-size: 110%;
    font-weight: bold;
    line-height: 1.5em;
    background-color: #e3e3e3;
}

.que.vplquestion .vpl-title-info {
    color: blue;
}

.que.vplquestion .vpl-title-error {
    color: red;
}

.que.vplquestion .vpl-test-title {
    background-color: #cef;
    border: 1px solid #acd;
}
