[submodule "mod/checklist"]
	path = mod/checklist
	url = https://github.com/davosmith/moodle-checklist.git
[submodule "mod/checkmark"]
	path = mod/checkmark
	url = https://github.com/academic-moodle-cooperation/moodle-mod_checkmark.git
[submodule "mod/diary"]
	path = mod/diary
	url = https://github.com/drachels/moodle-mod_diary.git
[submodule "mod/journal"]
	path = mod/journal
	url = https://github.com/elearningsoftware/moodle-mod_journal.git
[submodule "mod/mootimeter"]
	path = mod/mootimeter
	url = https://github.com/mebis-lp/moodle-mod_mootimeter.git
[submodule "mod/organizer"]
	path = mod/organizer
	url = https://github.com/academic-moodle-cooperation/moodle-mod_organizer.git
[submodule "mod/oublog"]
	path = mod/oublog
	url = https://github.com/moodleou/moodle-mod_oublog.git
[submodule "mod/panopto"]
	path = mod/panopto
	url = https://github.com/Panopto/Moodle-2.0-plugin-for-Panopto.git
[submodule "mod/panoptosubmission"]
	path = mod/panoptosubmission
	url = https://github.com/Panopto/moodle-mod_panoptosubmission.git
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire.git
[submodule "mod/scheduler"]
	path = mod/scheduler
	url = https://github.com/bostelm/moodle-mod_scheduler.git
[submodule "mod/publication"]
	path = mod/publication
	url = https://github.com/academic-moodle-cooperation/moodle-mod_publication.git
[submodule "mod/subcourse"]
	path = mod/subcourse
	url = https://github.com/catalyst/moodle-mod_subcourse.git
[submodule "mod/vpl"]
	path = mod/vpl
	url = https://github.com/CentreCyberKnight/moodle-mod_vplAnte.git
[submodule "mod/book/tool/wordimport"]
	path = mod/book/tool/wordimport
	url = https://github.com/ecampbell/moodle-booktool_wordimport.git
[submodule "mod/assign/feedback/cloudpoodll"]
	path = mod/assign/feedback/cloudpoodll
	url = https://github.com/justinhunt/moodle-assignfeedback_cloudpoodll.git
[submodule "mod/assign/submission/cloudpoodll"]
	path = mod/assign/submission/cloudpoodll
	url = https://github.com/justinhunt/moodle-assignsubmission_cloudpoodll.git
[submodule "mod/data/field/poodll"]
	path = mod/data/field/poodll
	url = https://github.com/justinhunt/moodle-mod_data_field_poodll.git
[submodule "question/type/cloudpoodll"]
	path = question/type/cloudpoodll
	url = https://github.com/justinhunt/moodle-qtype_cloudpoodll.git
[submodule "question/type/multichoiceset"]
	path = question/type/multichoiceset
	url = https://github.com/ecampbell/moodle-qtype_multichoiceset.git
[submodule "question/type/stack"]
	path = question/type/stack
	url = https://github.com/maths/moodle-qtype_stack.git
[submodule "question/type/vplquestion"]
	path = question/type/vplquestion
	url = https://gricad-gitlab.univ-grenoble-alpes.fr/moodle-moodle-qtype_vplquestion.git
[submodule "question/type/dfcbmexplicitvalidate"]
	path = question/type/dfcbmexplicitvalidate
	url = https://github.com/maths/moodle-qbehaviour_dfcbmexplicitvaildate.git
[submodule "question/type/dfexplicitvalidate"]
	path = question/type/dfexplicitvalidate
	url = https://github.com/maths/moodle-qbehaviour_dfexplicitvaildate.git
[submodule "question/type/deferredallnothing"]
	path = question/type/deferredallnothing
	url = https://github.com/dthies/moodle-qbehaviour_deferredallnothing.git
[submodule "question/type/adaptiveallnothing"]
	path = question/type/adaptiveallnothing
	url = https://github.com/dthies/moodle-qbehaviour_adaptiveallnothing.git
[submodule "question/format/wordtable"]
	path = question/format/wordtable
	url = https://github.com/ecampbell/moodle-qformat_wordtable.git
[submodule "mod/quiz/report/essaydownload"]
	path = mod/quiz/report/essaydownload
	url = https://github.com/PhilippImhof/moodle-quiz_essaydownload.git
[submodule "blocks/xp"]
	path = blocks/xp
	url = https://github.com/FMCorz/moodle-block_xp.git
[submodule "blocks/checklist"]
	path = blocks/checklist
	url = https://github.com/davosmith/moodle-block_checklist.git
[submodule "blocks/cinfo"]
	path = blocks/cinfo
	url = https://github.com/sokunthearithmakara/block_cinfo.git
[submodule "blocks/microsoft"]
	path = blocks/microsoft
	url = https://github.com/microsoft/moodle-block_microsoft.git
[submodule "blocks/panopto"]
	path = blocks/panopto
	url = https://github.com/Panopto/Moodle-2.0-plugin-for-Panopto.git
[submodule "blocks/sharing_cart"]
	path = blocks/sharing_cart
	url = https://github.com/donhinkelman/moodle-block_sharing_cart.git
[submodule "blocks/rbreport"]
	path = blocks/rbreport
	url = https://github.com/moodleworkplace/moodle-block_rbreport.git
[submodule "mod/attendance"]
	path = mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance.git
[submodule "lib/editor/tiny/wordimport"]
	path = lib/editor/tiny/wordimport
	url = https://codeberg.org/linos/moodle-tiny_wordimport.git
[submodule "lib/editor/tiny/cloze"]
	path = lib/editor/tiny/cloze
	url = https://github.com/srobotta/moodle-tiny_cloze.git
[submodule "lib/editor/tiny/fontcolor"]
	path = lib/editor/tiny/fontcolor
	url = https://github.com/bfh/moodle-tiny_fontcolor.git
[submodule "lib/editor/tiny/poodll"]
	path = lib/editor/tiny/poodll
	url = https://github.com/justinhunt/moodle-tiny_poodll.git
[submodule "lib/editor/tiny/wordlimit"]
	path = lib/editor/tiny/wordlimit
	url = https://codeberg.org/linos/moodle-tiny_wordlimit.git
[submodule "lib/editor/tiny/panoptoltibutton"]
	path = lib/editor/tiny/panoptoltibutton
	url = https://github.com/Panopto/moodle-tiny_panoptoltibutton.git
[submodule "filter/poodll"]
	path = filter/poodll
	url = https://github.com/justinhunt/moodle-filter_poodll.git
[submodule "plagiarism/turnitinsim"]
	path = plagiarism/turnitinsim
	url = https://github.com/turnitin/moodle-plagiarism_turnitinsim.git
[submodule "grade/report/rubrics"]
	path = grade/report/rubrics
	url = https://github.com/brickfield/moodle-gradereport_rubrics.git
[submodule "grade/report/gradeconfigwizard"]
	path = grade/report/gradeconfigwizard
	url = https://github.com/UNImoodle-gradereport_gradeconfigwizard.git
[submodule "grade/export/checklist"]
	path = grade/export/checklist
	url = https://github.com/davosmith/moodle-grade_checklist.git
[submodule "grade/grading/form/rubric_ranges"]
	path = grade/grading/form/rubric_ranges
	url = https://github.com/catalyst/moodle-gradingform_rubric_ranges.git
[submodule "availability/condition/role"]
	path = availability/condition/role
	url = https://github.com/moodle-an-hochschulen/moodle-availability_role.git
[submodule "availability/condition/cohort"]
	path = availability/condition/cohort
	url = https://github.com/moodle-an-hochschulen/moodle-availability_cohort.git
[submodule "availability/condition/xp"]
	path = availability/condition/xp
	url = https://github.com/FMCorz/moodle-availability_xp.git
[submodule "auth/saml2"]
	path = auth/saml2
	url = https://github.com/catalyst/moodle-auth_saml2.git
[submodule "auth/oidc"]
	path = auth/oidc
	url = https://github.com/microsoft/moodle-auth_oidc.git
[submodule "repository/office365"]
	path = repository/office365
	url = https://github.com/microsoft/moodle-repository_office365.git
[submodule "repository/panopto"]
	path = repository/panopto
	url = https://github.com/lucisgit/moodle-repository_panopto.git
[submodule "local/o365"]
	path = local/o365
	url = https://github.com/microsoft/moodle-local_o365.git
[submodule "local/adminer"]
	path = local/adminer
	url = https://github.com/grabs/moodle-local_adminer.git
[submodule "local/cohortrole"]
	path = local/cohortrole
	url = https://github.com/paulholden/moodle-local_cohortrole.git
[submodule "local/course_merge"]
	path = local/course_merge
	url = https://github.com/LafColITS/moodle-local_course_merge.git
[submodule "local/categorybanner"]
	path = local/categorybanner
	url = https://github.com/Fanny1203/moodle-local_categorybanner.git
[submodule "local/instructor_files"]
	path = local/instructor_files
	url = https://github.com/LafColITS/moodle-local_instructor_files.git
[submodule "local/multiple_enrollments"]
	path = local/multiple_enrollments
	url = https://github.com/E-learningTouch/moodle-local_multiple_enrollments.git
[submodule "course/format/grid"]
	path = course/format/grid
	url = https://github.com/gjbarnard/moodle-format_grid.git
[submodule "course/format/topcoll"]
	path = course/format/topcoll
	url = https://github.com/gjbarnard/moodle-format_topcoll.git
[submodule "course/format/remuiformat"]
	path = course/format/remuiformat
	url = https://github.com/WisdmLabs/moodle-format_remuiformat.git
[submodule "course/format/flexsections"]
	path = course/format/flexsections
	url = https://github.com/marinaglancy/moodle-format_flexsections.git
[submodule "course/format/tiles"]
	path = course/format/tiles
	url = https://bitbucket.org/dw8/moodle-format_tiles.git
[submodule "admin/tool/hidecourses"]
	path = admin/tool/hidecourses
	url = https://github.com/LafColITS/moodle-tool_hidecourses.git
[submodule "admin/tool/deletecourses"]
	path = admin/tool/deletecourses
	url = https://github.com/LafColITS/moodle-tool_deletecourses.git
[submodule "admin/tool/mergeusers"]
	path = admin/tool/mergeusers
	url = https://github.com/jpahullo/moodle-tool_mergeusers.git
[submodule "admin/tool/coursedates"]
	path = admin/tool/coursedates
	url = https://github.com/LafColITS/moodle-tool_coursedates.git
[submodule "admin/tool/editrolesbycap"]
	path = admin/tool/editrolesbycap
	url = https://github.com/moodleou/moodle-tool_editrolesbycap.git
[submodule "admin/tool/supporter"]
	path = admin/tool/supporter
	url = https://github.com/eLearning-TUDarmstadt/moodle-tool_supporter.git
[submodule "report/coursemanager"]
	path = report/coursemanager
	url = https://github.com/oliviervalentin/moodle-report_coursemanager.git
[submodule "report/lmsace_reports"]
	path = report/lmsace_reports
	url = https://github.com/lmsace/moodle-report_lmsace_reports.git
