.local-categorybanner-notification {
    margin-top: 60px !important; /* Espace pour éviter le chevauchement avec le bandeau */
    margin-bottom: 15px;
}

.categorybanner-separator {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
}
