.path-local-multiple_enrollments #assignform select,
input {
	font: normal 12px Arial;
	padding: 3px;
}

.path-local-multiple_enrollments #assignform div {
	font: bold 12px Arial;
	padding: 1px;
}

.path-local-multiple_enrollments #assignform div.label {
	font: normal 12px Arial;
	padding: 1px;
}

.path-local-multiple_enrollments .success_msg {
	float: center;
	width: 100%;
	text-align: center;
	color: #19722C;
}

.path-local-multiple_enrollments .label_div {
	float: left;
	width: 20%;
}

.path-local-multiple_enrollments.dir-rtl .label_div {
	float: right;
}

.path-local-multiple_enrollments .control_div {
	float: left;
	width: 79%;
}

.path-local-multiple_enrollments.dir-rtl .control_div {
	float: right;
}

.path-local-multiple_enrollments .enrol_option_div {
	clear: both;
	padding-top: 20px;
	border: 0px solid red;
}

.path-local-multiple_enrollments .loading {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18;
	color: #FF0000;
	padding-bottom: 5px;
}

.path-local-multiple_enrollments #displaytype {
	margin-top: 5px;
	width: 100%;
	float: left;
	padding-bottom: 5px;
}

.path-local-multiple_enrollments .option_label {
	float: left;
	font-weight: normal;
	margin-right: 10px;
}

.path-local-multiple_enrollments .coursesection {
	float: left;
	width: 40%;
}

.path-local-multiple_enrollments .usersection {
	float: left;
	width: 39%;
}

.path-local-multiple_enrollments .assignedcourse {
	float: left;
	width: 48%;
}

.path-local-multiple_enrollments .potentialcourse {
	float: left;
	width: 48%;
}

.path-local-multiple_enrollments .separator {
	clear: both;
	height: 15px;
}

.path-local-multiple_enrollments .fulldiv {
	clear: both;
	width: 100%
}
