{{#issubtitling}}
    <a href="{{url}}?data-subtitles={{subtitleurl}}&data-language={{CP.language}}">{{name}}</a>
{{/issubtitling}}
{{^issubtitling}}
    <a href="{{url}}">{{name}}</a>
{{/issubtitling}}