
  {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
  {{!
    @template tiny_poodll/options

    CloudPoodll options template.

    The purpose of this template is to render recorder type history by user.
  }}
  <div data-medium-type="{{CSS.OPTIONS}}" data-field="options" class="tab-pane" id="{{elementid}}_{{CSS.OPTIONS}}">
      {{#showexpiredays}}
          <br>
          <label>{{#str}} expiredays, tiny_poodll{{/str}}&nbsp;
              <select id="{{elementid}}_{{CSS.EXPIREDAYS_SELECT}}" class="{{CSS.EXPIREDAYS_SELECT}}">
                  <option value="1" {{#expire_1}}selected="selected"{{/expire_1}}>1</option>
                  <option value="3" {{#expire_3}}selected="selected"{{/expire_3}}>3</option>
                  <option value="7" {{#expire_7}}selected="selected"{{/expire_7}}>7</option>
                  <option value="30" {{#expire_30}}selected="selected"{{/expire_30}}>30</option>
                  <option value="90" {{#expire_90}}selected="selected"{{/expire_90}}>90</option>
                  <option value="180" {{#expire_180}}selected="selected"{{/expire_180}}>180</option>
                  <option value="365" {{#expire_365}}selected="selected"{{/expire_365}}>365</option>
                  <option value="730" {{#expire_730}}selected="selected"{{/expire_730}}>730</option>
                  <option value="9999" {{#expire_9999}}selected="selected"{{/expire_9999}}>{{#str}} forever, tiny_poodll {{/str}}</option>
              </select>
              </label>
      {{/showexpiredays}}
          <br><label>
          <input type="checkbox" id="{{elementid}}_{{CSS.MEDIAINSERT_CHECKBOX}}" class="{{CSS.MEDIAINSERT_CHECKBOX}}"
          {{#mediataginsert}} checked="true"{{/mediataginsert}}
          />&nbsp;{{#str}} mediainsertcheckbox, tiny_poodll {{/str}}
          </label>

      {{#cansubtitle}}
          <br><label>
              <input type="checkbox" id="{{elementid}}_{{CSS.SUBTITLE_CHECKBOX}}" class="{{CSS.SUBTITLE_CHECKBOX}}"
              {{#isvideo}}{{#letssubtitlevideo}} checked="true"{{/letssubtitlevideo}}{{/isvideo}}
              {{^isvideo}}{{#letssubtitleaudio}} checked="true"{{/letssubtitleaudio}}{{/isvideo}}
              />
              &nbsp;{{#str}} subtitlecheckbox, tiny_poodll {{/str}}
              </label>
          <br><label>{{#str}} speakerlanguage, tiny_poodll{{/str}}&nbsp;
              <select id="{{elementid}}_{{CSS.LANG_SELECT}}" class="{{CSS.LANG_SELECT}}">
                  <option value="{{LANG.ARAE}}" {{#lang_ar-AE}}selected="selected"{{/lang_ar-AE}}>{{#str}} ar-ae, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ARSA}}" {{#lang_ar-SA}}selected="selected"{{/lang_ar-SA}}>{{#str}} ar-sa, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.DEDE}}" {{#lang_de-DE}}selected="selected"{{/lang_de-DE}}>{{#str}} de-de, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.DECH}}" {{#lang_de-CH}}selected="selected"{{/lang_de-CH}}>{{#str}} de-ch, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ENUS}}" {{#lang_en-US}}selected="selected"{{/lang_en-US}}>{{#str}} en-us, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ENGB}}" {{#lang_en-GB}}selected="selected"{{/lang_en-GB}}>{{#str}} en-gb, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ENAU}}" {{#lang_en-AU}}selected="selected"{{/lang_en-AU}}>{{#str}} en-au, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ENIN}}" {{#lang_en-IN}}selected="selected"{{/lang_en-IN}}>{{#str}} en-in, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ENIE}}" {{#lang_en-IE}}selected="selected"{{/lang_en-IE}}>{{#str}} en-ie, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ENWL}}" {{#lang_en-WL}}selected="selected"{{/lang_en-WL}}>{{#str}} en-wl, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ENAB}}" {{#lang_en-AB}}selected="selected"{{/lang_en-AB}}>{{#str}} en-ab, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ESUS}}" {{#lang_es-US}}selected="selected"{{/lang_es-US}}>{{#str}} es-us, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ESES}}" {{#lang_es-ES}}selected="selected"{{/lang_es-ES}}>{{#str}} es-es, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.FAIR}}" {{#lang_fa-IR}}selected="selected"{{/lang_fa-IR}}>{{#str}} fa-ir, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.FRFR}}" {{#lang_fr-FR}}selected="selected"{{/lang_fr-FR}}>{{#str}} fr-fr, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.FRCA}}" {{#lang_fr-CA}}selected="selected"{{/lang_fr-CA}}>{{#str}} fr-ca, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.HEIL}}" {{#lang_he-IL}}selected="selected"{{/lang_he-IL}}>{{#str}} he-il, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.HIIN}}" {{#lang_hi-IN}}selected="selected"{{/lang_hi-IN}}>{{#str}} hi-in, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ITIT}}" {{#lang_it-IT}}selected="selected"{{/lang_it-IT}}>{{#str}} it-it, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.JAJP}}" {{#lang_ja-JP}}selected="selected"{{/lang_ja-JP}}>{{#str}} ja-jp, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.KOKR}}" {{#lang_ko-KR}}selected="selected"{{/lang_ko-KR}}>{{#str}} ko-kr, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.MSMY}}" {{#lang_ms-MY}}selected="selected"{{/lang_ms-MY}}>{{#str}} ms-my, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.NLNL}}" {{#lang_nl-NL}}selected="selected"{{/lang_nl-NL}}>{{#str}} nl-nl, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.PTPT}}" {{#lang_pt-PT}}selected="selected"{{/lang_pt-PT}}>{{#str}} pt-pt, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.PTBR}}" {{#lang_pt-BR}}selected="selected"{{/lang_pt-BR}}>{{#str}} pt-br, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.RURU}}" {{#lang_ru-RU}}selected="selected"{{/lang_ru-RU}}>{{#str}} ru-ru, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.TAIN}}" {{#lang_ta-IN}}selected="selected"{{/lang_ta-IN}}>{{#str}} ta-in, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.TEIN}}" {{#lang_te-IN}}selected="selected"{{/lang_te-IN}}>{{#str}} te-in, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.TRTR}}" {{#lang_tr-TR}}selected="selected"{{/lang_tr-TR}}>{{#str}} tr-tr, tiny_poodll {{/str}}</option>
                  <option value="{{LANG.ZHCN}}" {{#lang_zh-CN}}selected="selected"{{/lang_zh-CN}}>{{#str}} zh-cn, tiny_poodll {{/str}}</option>
                  </select>
              </label>
          <br>{{#str}} subtitleinstructions, tiny_poodll {{/str}}
      {{/cansubtitle}}
      {{^cansubtitle}}
          {{#str}} cannotsubtitle, tiny_poodll {{/str}}
      {{/cansubtitle}}
  </div>